* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    padding: 0%;
}

.navBar {
    /* height: 17%; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: auto;
}

/* --> navBar */
.navbar.sticky {

    width: 98vw;
    margin-top: -10vw;
    height: 20vh;
    background-color: white;


}

.navbar.sticky ul li a {
    color: #000;

}

.logosection {
    width: 98vw;
    height: 13vh;
    display: flex;
}

.logo {
    width: 20vw;
    height: 11vh;
    border: 0.1vh solid transparent;
    margin-left: 2vh;
    margin-top: 2vh;


}

img {
    width: 100%;
    height: 100%;
}

.search {
    width: 27vw;
    height: 4.5vh;
    border: 0.1vh solid #cececece;
    margin-left: 3.1vw;
    margin-top: 6.5vh;
}

.search p {
    width: 15vw;
    font-size: 1.5vw;
}

.saler {
    width: 19vw;
    height: 4vh;
    margin-top: 3.5vh;
    margin-left: 8vw;
    border: 0.1vh solid transparent;
    font-size: 1vw;
    font-weight: 500;

}

.saler a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
    font-weight: 530;
    color: #000;
}

.loginblock {
    width: 12vw;
    height: 9vh;
    margin-top: 0.4vh;
    display: block;
}

.profile {
    width: 12vw;
    height: 4vh;
    border: 0.1vh solid transparent;
    font-size: 1.2vw;
    font-weight: 500;
    display: flex;
    margin-top: 2.2vh;
    margin-left: 1.5vw;
}

.profile a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: -0.5vh;
    color: #000;
}

.gust {
    width: 12vw;
    height: 4vh;
    border: 0.1vh solid transparent;
    font-size: 1.2vw;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-top: -2.2vw;
    margin-left: 1.8vw;
}

.gust h4 {
    font-weight: 510;
}

.icon {
    width: 1.7vw;
    height: 3.2vh;
}

.Addto {
    width: 2vw;
    height: 3vh;
    color: #ff8e06;
    margin-top: 2.5vw;
    margin-left: 2.5vw;
}

#count {
    font-size: 1.1vw;
    margin-top: 2.2vw;
    margin-left: 0.5vh;
}

#count {
    font-weight: 500;
}

.links {
    width: 80vw;
    height: 7vh;

}

.links ul {
    display: flex;
    list-style: none;
    margin-left: 10vh;
}

.links ul a {
    text-decoration: none;
    color: black;

}

.links ul a li {
    list-style: none;
    margin-top: 1.5vh;
    margin-left: 6vw;
    font-size: 1.5vw;
}

.submenu {
    display: none;
    width: 90vw;
    height: 60vh;
    position: absolute;
    background-color: white;
    border: 0.1vh solid white;
    margin-top: 0.5vh;
    margin-left: -17.9vh;
    -webkit-box-shadow: 0 0.5vw 0.5vw 0.5vw #cececece;
    -moz-box-shadow: 0 0.5vw 0.5vw 0.5vw #cececece;
    box-shadow: 0 0.5vw 0.5vw 0.5vw #cececece;
    cursor: pointer;
    z-index: 1;


}

.links ul li:hover .submenu {
    display: block;
    display: flex;
}

.first {
    width: 13vw;
    height: 50vh;
    margin-top: 4vh;
    margin-left: 3vh;
}

.first h4 {
    font-size: 1.3vw;
    text-decoration: underline;
    font-weight: 600;
}

.first p {
    font-size: 1.2vw;
    margin-top: 2vh;
    font-weight: 480;
    color: black
}




















#contentBox {
    margin-top: 2%;
    display: flex;
}

#footerBox {
    background-color: rgb(255, 244, 244);
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: grid;
    grid-template-columns: auto auto;
}

#footerBox>#options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#options>div>p {
    color: grey;
    font-size: 11px;
    padding: 3px;
    margin-left: 10px;

}

#options>div>p:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#emailBox {

    display: flex;

    align-items: center;
    padding: 20px;
}

#emailBox>span>button {
    background-color: orange;
    height: 30px;
    width: 100px;
    color: white;
    border: 1px solid orange;
    border-radius: 8px;
    font-weight: bold;
}

#subCat {
    /* border: 1px solid red; */
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#subCat>span {
    padding: 15px;
    margin-left: 20px;
}

#subCat>p {
    color: grey;
    font-size: 13px;
    /* text-align: center; */
    padding: 15px;
    margin-left: 20px;
}

#options>div {
    padding: 20px 12px;
}

#options>div>span {
    color: orange;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
}

#subCat>p:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#allProducts {
    /* border: 1px solid blue; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 60px;
    row-gap: 120px;
    padding: 4%;
    margin-bottom: 5%;
}


#productLayout>div {
    /* border: 1px solid orange; */
    height: auto;
}

#productLayout>div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#imageBox>img {
    height: 80%;
    width: 100%;
}

#titleBox {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    height: auto;
    /* align-items: center; */
    font-size: 15px;
    padding: 2px;
}

#titleBox>p {
    font-size: 14px;
    font-weight: 500;
}

#ratingBox {
    background-color: green;
    border: 1px solid;
    border-radius: 5px;
    width: auto;
    padding: 0px 8px;
    height: 21px;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ratingBox>div {
    margin: 0%;
    padding: 0%;
}

.checked {
    color: orange;
}

#priceBox {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

#priceBox :first-child {
    font-size: large;
    color: orange;
    font-weight: 400;
}

#priceBox :last-child {
    font-weight: 500;
    color: green;
}

#ratingBox :last-child {
    padding-left: 6px;
}

@media all and (min-width: 481px) and (max-width: 820px) {

    #subCat {
        display: none;
    }

    #allProducts {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    #footerBox {
        height: auto;
        display: block;
    }

    #footerBox>#options {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 80px) and (max-width: 480px) {
    #subCat {
        display: none;
    }

    #allProducts {
        width: 90%;
        grid-template-columns: 90%;
        justify-content: center;
        /* padding: 2px; */
    }

    #footerBox {
        height: auto;
        display: block;
    }

    #footerBox>#options {
        grid-template-columns: repeat(1, 1fr);
    }
}