#main{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: solid black; */
}
#rightpart,#leftpart{
    width: 48%;
    height: auto;
    /* border: 1px solid black; */
}
input{
    width: 98%;
    height: 35px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid rgb(87, 85, 85);
}
#addressbox{
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#left,#right{
    width: 48%;
    height: auto;
}
label,h5{
font-size: 13px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(79, 92, 89);

}
h4{
    color: rgb(79, 92, 89);
}
#selectmethod{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 150px;
    gap: 10px;
    /* border: 1px solid black; */
    text-align: center;
}
#selectmethod>div{
    /* border: 1px solid black; */
}
img{
    width: 80%;
    height: 80px;
}

.box{
    
    width: 8px;
    height: 8px;
    border: 1px solid orange;
    margin-top: 3px;
/* background-color:orange; */
}
.checkbox1{
    display: flex;
    width: 74%;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    width: 34%;
    justify-content: space-between;
    font-size: 15px;
  
}
.one>div{
    width: 80%;
    height: 5px;
    background-color: orange;
}
button{
    width: 100%;
    height: 40px;
    background-color: orange;
    color: white;  
}
#btn{
width: 80%;
margin: auto;  

}
#selectmethod+div{
    text-align: center;
}
#promo{
    width: 60%;
    height: 30px;
    display: flex;
    /* border: 1px solid black; */
}
#apply{
  height: 33px;
  width: 40%;
  margin: -1.5px;
  border: 0px;

}
#apply:hover{
    cursor: pointer;
}
#enterpromo{
    height: 100%;
   margin: -1.5px;
    border-radius:0px;
}
.underline{
    cursor: pointer;
}
.underline:hover>div{
    
    
    background-color: orange;
    
}
/* #one{
    width: 50%;
    height: 3px;
    margin: auto;
} */
.orange{
    width: 50%;
    height: 3px;
    margin: auto;
}
#box1,#box2,#box3{
    cursor: pointer;
    margin-top: 3px;
  width: 10px;
  height: 12px;
  /* background-color: white; */
  border: 1px solid orange;
  background-color: white;

}
.change:hover>.orange{
    cursor: pointer;
    background-color: orange;
}
.change:hover{
    cursor: pointer;
}
.banner>img{
    width: 80px;
    height: 80px;
}
.banner{
    text-align: center;
    margin-top:10px;
}
#bannerunderline{
    width: 15%;
    height: 3px;
    margin: auto;
    background-color: orange;

}
#divs{
    display: flex;
    justify-content: space-between;
}
#storeall{
    background-color: rgb(184, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    row-gap: 20px;
    
}
#boxx{
    background-color: orange;
}
.lightorange{
    color: orange;
}
.lightgrey
{
    color: rgb(79, 77, 77);
    font-family:'Times New Roman', Times, serif
}
#middlemeaao{
    text-align: center;
}
#onclick{
    width: 70%;
   margin: auto;
}